<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8"/>
	<title>游戏快充</title>
	<link rel="stylesheet" href="http://img.fanli.com/fanlicss/01.css"/>
	<!--[if lt IE 9]>
      <script src="http://js.fanli.com/fanli/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="adbar">
		<div class="inner">
			<p>推荐您使用网页游戏专用浏览器：<span>海量游戏</span>、<span>账号躲开</span>、<span>一键试玩</span>、<span>游戏加速</span>，方便又好用！马上试试彩云游戏浏览器！<a class="download" href="#">立即下载</a></p>
			<a class="close" href="#">关闭</a>
		</div>
	</div>
	<header>
		<a href="#" id="logo">彩云返利-游戏快充</a>
	</header>
	<nav>
		<a href="#" class="active" id="home">首页</a>
		<a href="#" id="profile">我的快充</a>
		<a href="#" id="help">帮助</a>
	</nav>
	<div id="banner">
		<figure>
			<img src="http://img.fanli.com/fanli/201207/figure1.png" alt="什么是游戏快充？">
			<h3>什么是游戏快充？</h3>
			<p>游戏快充是一个快速便捷的网页游戏充值平台。</p>
		</figure>
		<figure>
			<img src="http://img.fanli.com/fanli/201207/figure2.png" alt="为什么要用游戏快充？">
			<h3>为什么要用游戏快充？</h3>
			<p>通过游戏快充充值，可以给获得最高50%的充值返现。</p>
		</figure>
		<figure>
			<img src="http://img.fanli.com/fanli/201207/figure3.png" alt="如何充值返现？">
			<h3>如何充值返现？</h3>
			<p>选择你要充值的游戏进行充值，然后回来领取返现金额。</p>
		</figure>
	</div>
	<div id="wrapper">
		<div id="container"></div>
		<aside>
			<div class="profile">
				<div class="header">您好，欢迎来到游戏快充！</div>
				<div class="content"></div>
			</div>
			<div class="platform">
				<div class="header">
					<span>游戏平台</span>
					<a href="#">更多</a>
				</div>
				<div class="content">
					<a href="#" title="e侠">
						<figure>
							<img src="http://img.fanli.com/fanli/201207/thumb.png" alt="e侠">
							<figcaption>最高返现<span>20%</span></figcaption>
						</figure>
					</a>
					<a href="#" title="e侠">
						<figure>
							<img src="http://img.fanli.com/fanli/201207/thumb.png" alt="e侠">
							<figcaption>最高返现<span>20%</span></figcaption>
						</figure>
					</a>
					<a href="#" title="e侠">
						<figure>
							<img src="http://img.fanli.com/fanli/201207/thumb.png" alt="e侠">
							<figcaption>最高返现<span>20%</span></figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="contact"></div>
		</aside>
		<div class="clear"></div>
	</div>
	<footer>
		<p class="links">
			<a href="#">关于我们</a> |
			<a href="#">彩云官网</a> |
			<a href="#">联系我们</a> |
			<a href="#">返现合作</a> |
			<a href="#">页游入驻</a> |
			<a href="#">人才招聘</a> |
			<a href="#">彩云论坛</a> |
			<a href="#">友情链接</a>
		</p>
		<p class="copyright">Copyright &copy; 宸康科技（北京）有限公司 琼ICP备11000655号</p>
	</footer>
</body>
</html>